/* #product-recommendations {
  width: 100%;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 0
} */


.cards-slider {
  position: relative;
  /* scroll-behavior: smooth; */
}

.cards-slider-wrapper {
  display: flex;
  position: relative;
  width: 1200px;
  overflow: hidden;
  /* scroll-behavior: smooth; */
  /* transition: all 0.5s ease; */
  /* transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */
}

.people-also-liked {
  font-family: Graphik,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.016rem;
  font-size: 2rem;
  line-height: 2.6rem;
}

.cards {
  flex: 1;
  min-width: 200px;
  transition: all 0.4s ease;
  /* padding: 60px; */
  /* transition: ease-in-out; */
  /* scroll-behavior: smooth; */
}

.brand {
  font-family: Graphik,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.08px;
  font-size: 1.2rem;
  line-height: 1.6rem;

}

.item-name {
  font-family: Graphik,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.number-of-ratings {
  letter-spacing: -.008rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: Graphik,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.price {
  font-family: Graphik,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.08px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/*
/////////////////////////////////////////////////////////////BUTTONS
*/

button {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid;
  /* background-color: #eed; */
  box-shadow: 10px -10px  rgba(205, 243, 36, 0.6);
  -moz-box-shadow: 10px -10px  rgba(23, 230, 85, 0.6);
  -webkit-box-shadow: 0px 3px  rgba(10, 6, 17, 0.459);
  -o-box-shadow: 10px -10px  rgba(180, 25, 25, 0.6);
  /* text-align: center;
  display: inline-block; */
  cursor: pointer;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
}

.carousel-btn--left {
  left: 8px;
}
.carousel-btn--right {
  right: 13px;
}

button:hover {
  transform: scale(1);
}

/*
/////////////////////////////////////////////////////////////////// STARS
*/

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px #BD7B2D;
}
/*
/* Webkit-text-stroke is not supported on firefox or IE
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}
/* IE */
<!--[if IE]>
  .full-stars{
    color: #ECBE24;
  }
<![endif]--> */
 */


@font-face {
  font-family: Stuart;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2"); }
@font-face {
  font-family: Stuart;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2"); }
@font-face {
  font-family: Graphik;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2"); }
@font-face {
  font-family: Graphik;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2"); }

  /* back-up font family: “Helvetica Neue”,“Helvetica”,“Arial”,sans-serif; */
